*~
*.pyc
*.db
*.sqlite
.idea
*.log
.cache
.coverage
.coverage.*
htmlcov
sessions
configuration.yaml
doc/_build
doc/_static
ictv/client/ks/*.zip
ictv/client/static/assets
ictv/client/static/last_cached_page
ictv/logs
ictv/static/plugins
ictv/static/storage
ictv/static/themes
ictv/plugins/birthday/cache
ictv/plugins/editor/static/images/uploaded
ictv/plugins/embed/static
ictv/plugins/embed/static/*.html
ictv/plugins/regex/cache.json
ictv/plugins/rss_legacy/static
ictv/plugins/rss/cache.json
